<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>43353220405-6ig55ijgd49tlliqp7ac2of6r9l5uffa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43353220405-6ig55ijgd49tlliqp7ac2of6r9l5uffa</string>
	<key>API_KEY</key>
	<string>AIzaSyCFjeMLq-zbAAHDl3GdSJYsXGY7cmpvQS8</string>
	<key>GCM_SENDER_ID</key>
	<string>43353220405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imoment.FirebaseNotifications</string>
	<key>PROJECT_ID</key>
	<string>fir-notifications-9a37d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notifications-9a37d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43353220405:ios:060007d97723668b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-notifications-9a37d.firebaseio.com</string>
</dict>
</plist>